/* Variables */
:root {
    --size: 75px;
    --clr-bg: #272324;
    --clr1: #1d70b8;
    --clr2: #0b0c0c;
    --clr3: #2c8bde;

}
/* body */

body {
    font-family: sans-serif;
}
/* ======= Button Animation======= */
.uk_job {
    position:relative;
    background-color:#0b0c0c!important;
    border: 2px solid #0b0c0c!important;
    color: #0b0c0c;
    overflow: hidden;
    transition: color .5s;
    z-index:1;
}

.uk_job:hover {
    color: white;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.6);
    z-index:1;
}

.uk_job:hover::before {
    animation: buttonIn 800ms ease-out forwards;
}

.uk_job:before {
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width:250%;
    height:100%;
    background-color:#1d70b8;
    z-index:-1;
    transform:skew(-45deg) translateX(-250%);
    animation: buttonOut 900ms ease-in;
}

@keyframes buttonIn {
    0%
    {
        transform: skew(-45deg) translateX(-250%);
    }
    100%
    {
        transform: skew(-45deg) translateX(-50%);
    }
}
@keyframes buttonOut {
    0%
    {
        transform: skew(-45deg) translateX(-50%);
    }
    100%
    {
        transform: skew(-45deg) translateX(150%);
    }
}
/* Navbar */
/*------/ Hamburger Navbar /------*/
.navbar-default {
    transition: all .5s ease-in-out;
    background-color: #0b0c0c;
    padding-top: 28px;
    padding-bottom: 28px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
}

.navbar-toggler {
    position: relative;
}
.main {
    position: absolute;
}
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
    display: block;
    background-color: #FFFFFF;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(-135deg);
    opacity: 0.9;
}
.nav-link:hover{
    background-color: #1d70b8;

}

/* Table */
.table>:not(caption)>*>* {
    background-color:#1d70b8!important;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #2c8bde!important;
}
.table-striped>tbody>tr:nth-of-type(even)>* {
    /* --bs-table-accent-bg: #2c8bde!important; */
    color: var(--bs-light-rgb)!important;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    color:var(--bs-white-rgb)!important;
}

/* Pagination bar */
.act_pagingControls{
    background-color: #1d70b8!important;
}
.pagingControls{
    border:0.5px solid #1d70b8!important;
}
.pagingControls:hover{
    background-color: #2c8bde!important;
}

/* Loading Animation */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.spinner:nth-child(1) {
    --animation-duration: 650ms;
    position: relative;
    width: var(--size);
    height: var(--size);
}
.spinner-item {
    position: absolute;
    width: var(--item-size);
    height: var(--item-size);
    top: calc(50% - var(--item-size) / 2);
    left: calc(50% - var(--item-size) / 2);
    border: 4px solid transparent;
    border-left: 4px solid var(--clr-spinner);
    border-right: 4px solid var(--clr-spinner);
    border-radius: 50%;
    animation: spinner 650ms linear infinite;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner-item:nth-of-type(1) {
    --item-size: var(--size);
    --clr-spinner: var(--clr1);
    border-top: 4px solid var(--clr1);
}

.spinner-item:nth-of-type(2) {
    --item-size: calc(var(--size) - 15px);
    --clr-spinner: var(--clr2);
    border-bottom: 4px solid var(--clr2);
}

.spinner-item:nth-of-type(3) {
    --item-size: calc(var(--size) - 30px);
    --clr-spinner: var(--clr3);
    border-top: 4px solid var(--clr3);
}
.paused{
    animation-play-state: paused;
    display: none;
}
.running{
    animation-play-state: running;
    display:block;
}

/* Footer */
.contact{
    background-color: #0b0c0c;
}

